<% if slider.size > 0 %>

  <%# generate a random number for the carousel id - in case you want multiple per page %>
  <% cid ||= Random.rand(1000) %>

  <div id="carousel-slider-<%= cid %>" class="carousel slide" data-ride="carousel" <%= (defined? interval) != nil ? "data-interval=#{interval.to_s}" : "" %>>
    <%# Indicators %>
    <ol class="carousel-indicators">
      <% slider.each_with_index do |slide, index| %>
        <li data-target="#carousel-prod-<%= cid %>" data-slide-to="<%= index %>" class="<%= index == 0 ? 'active' : '' %>"></li>
      <% end %>
    </ol>

    <%# Wrapper for slider %>
    <div class="carousel-inner">
      <% slider.each_with_index do |slide, index| %>
        <div class="item <%= index == 0 ? 'active' : '' %>">
          <%= link_to image_tag(main_app.url_for(slide.slide_image), alt: slide.slide_name), url_for(slide.slide_link) rescue nil %>
          <div class="carousel-caption">
            <h3><%= slide.slide_name %></h3>
            <% unless slide.body.blank? %>
              <p><%= slide.body %><p>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

    <%# Controls %>
    <a class="left carousel-control" href="#carousel-slider-<%= cid %>" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only"><%= t(:previous) %></span>
    </a>
    <a class="right carousel-control" href="#carousel-slider-<%= cid %>" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only"><%= t(:next) %></span>
    </a>

  </div>

<% end %>

<style>
  .col-centered {
    float: none;
    margin: 0 auto;
  }

  .carousel-control {
    width: 8%;
    width: 0px;
  }
  .carousel-control.left,
  .carousel-control.right {
    margin-right: 40px;
    margin-left: 32px;
    background-image: none;
    opacity: 1;
  }
  .carousel-control > a > span {
    color: white;
    font-size: 29px !important;
  }

  .carousel-col {
    position: relative;
    min-height: 1px;
    padding: 5px;
    float: left;
  }

  .active > div { display:none; }
  .active > div:first-child { display:block; }

  /*xs*/
  @media (max-width: 767px) {
    .carousel-inner .active.left { left: -50%; }
    .carousel-inner .active.right { left: 50%; }
    .carousel-inner .next        { left:  50%; }
    .carousel-inner .prev		     { left: -50%; }
    .carousel-col                { width: 50%; }
    .active > div:first-child + div { display:block; }
  }

  /*sm*/
  @media (min-width: 768px) and (max-width: 991px) {
    .carousel-inner .active.left { left: -50%; }
    .carousel-inner .active.right { left: 50%; }
    .carousel-inner .next        { left:  50%; }
    .carousel-inner .prev		     { left: -50%; }
    .carousel-col                { width: 50%; }
    .active > div:first-child + div { display:block; }
  }

  /*md*/
  @media (min-width: 992px) and (max-width: 1199px) {
    .carousel-inner .active.left { left: -33%; }
    .carousel-inner .active.right { left: 33%; }
    .carousel-inner .next        { left:  33%; }
    .carousel-inner .prev		     { left: -33%; }
    .carousel-col                { width: 33%; }
    .active > div:first-child + div { display:block; }
    .active > div:first-child + div + div { display:block; }
  }

  /*lg*/
  @media (min-width: 1200px) {
    .carousel-inner .active.left { left: -25%; }
    .carousel-inner .active.right{ left:  25%; }
    .carousel-inner .next        { left:  25%; }
    .carousel-inner .prev		     { left: -25%; }
    .carousel-col                { width: 25%; }
    .active > div:first-child + div { display:block; }
    .active > div:first-child + div + div { display:block; }
    .active > div:first-child + div + div + div { display:block; }
  }

  .block {
    width: 306px;
    height: 230px;
  }

  .red {background: red;}

  .blue {background: blue;}

  .green {background: green;}

  .yellow {background: yellow;}
</style>

<script>
    $('.carousel[data-type="multi"] .item').each(function() {
        var next = $(this).next();
        if (!next.length) {
            next = $(this).siblings(':first');
        }
        next.children(':first-child').clone().appendTo($(this));

        for (var i = 0; i < 2; i++) {
            next = next.next();
            if (!next.length) {
                next = $(this).siblings(':first');
            }

            next.children(':first-child').clone().appendTo($(this));
        }
    });

</script>